<div class="main-outer">
    <h4 class="main-heading">Recent Planning Poker Games</h4>
    <button ng-click="redirect()" class="new-btn bg-dark"><i class="ic-plus fa fa-plus"></i>New Game</button>
    <p class="mt-4 main-heading" ng-show="boardList.length==0">You have not created any pokerboards yet</p>
    <div ng-show="boardList.length">
        <div class="tab-head">
            <p>TITLE</p>
            <p>STATE</p>
            <p>DATE</p>
            <p>CREATOR</p>
        </div>
        <div class="hor-rule"></div>
    </div>
    <div ng-repeat="board in boardList">
        <div class="tab-content">
            <p>{{ board.title }}</p>
            <p>{{ board.state }}</p>
            <p>{{ board.date }}</p>
            <p>{{ board.creator }}</p>
            <button class="join-btn bg-dark" ng-click="goToPokerboard(board.id)">Join</button>
        </div>
        <div class="hor-rule"></div>
    </div>
</div>
